* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: #333333;
     
}
.container {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    justify-content: center;
    margin: auto;
    height: 620px;
    background-color: black;
    padding: 20px;
    margin-top: 50px;
    width: 25%;
}


.text {
    height: 500px;
    /* border: 1px solid red; */
    align-items: flex-end;
    flex-direction: column;
    margin-top: 50px;
    
}

.result {
    height: 100px;
    /* border: 1px solid yellow; */
    width: 80%;
    /* border:1px solid white; */
    align-items: flex-end;
    display: flex;
    width: 100%;
}

.screen{
    /* border: 1px solid white; */
    align-items: flex-end;
    justify-content:space-around;
    width: 100%;
    align-items: flex-end;
    
}

.input {
    border:1px solid red;
    width: 100%;
    height: 3.2rem;
    font-size:50px;
    color: white;
    background-color: black;
    border: none;
    text-align: right;
}

.butons {
    display: grid;
    grid-template-columns: repeat(4,60px);
    grid-template-rows:repeat(5,60px);
    gap: 20px;
    width: 100%;
    height: 60px;
    padding: 10px 0px;
}

.number {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 32px;
    font-size: 20px;
    opacity: 0.5;
}

.numdark {
    background-color:#333333 ;
}

.numyellow {
    background-color: rgb(255, 159, 10);
}

.number:hover{
    opacity: 1;
}

.num1 {
    grid-column: 1/4;
    border: 1px solid white;
    background-color: #A5A5A5;
}

.num14 {
    grid-row: 5/6;
    grid-column: 1/3;
    border-radius:32px;
}